// General Colors
$blue: #4EACD9;
$light-blue: #B7DFF3;
$dark-blue: #397997;
$off-white: #f2f9fc;
$pink: #FA457A;
$red: #FD1015;
$yellow: #F9F001;
$gray: #444;
$light-gray: #BBB;
$medium-gray: #666;

// Colors for categories
$yellow-event: #f7e202;
$orange: #EF9240;
$pink-event: rgb(230, 0, 125);
$green: #44B735;
$purple: #8D58CE;

$light-yellow-event: #fdec4e;
$light-orange: #FFAD23;
$light-pink-event: #f579a1;
$light-green: #AAD955;
$light-purple: #7856A7;

// Colors for categories
$comedy: $light-pink-event;
$cabaret-variety: $light-orange;
// dance, physical theatre, circus
$circus-etc: $light-yellow-event;
// theatre; musicals & opera
$theatre-etc: $light-green;
// exhibitions; events
$events-etc: $blue;
// spoken word; music; childrens shows
$other: $light-purple;
