// Define variables for your color scheme

// For example:
$blue: #4eacd9;
$yellow: #f2c94c;
$pink: #E75A78;
$red: #FD1015;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$comedy: $blue;
$cabaret-variety: #f8cc98;
// dance, physical theatre, circus
$circus-etc: #cdccfc;
// theatre; musicals & opera
$theatre-etc: #ccecff;
// exhibitions; events
$events-etc: #c7ffdb;
// spoken word; music; childrens shows
$other: #ea9999;
