.about-story {
  display: flex;

}

.about-story-story {
  padding-right: 60px;
}

.about-story-pic {
  height: 100%;
  width: 45vw;
}

.about-profile {
  display: flex;

  img {
    width: 120px;
    height: 100%;
    margin: 0px 15px 15px 15px;
    border-radius: 50%;
  }
}
