.about-story {
  display: flex;

}

.about-story-story {
  padding-right: 60px;

  a {
    text-decoration: none;
  }
}

.about-story-pic {
  height: 100%;
  width: 45vw;
}

.about-profile {
  display: flex;
  padding-bottom: 15px;
  align-items: center;

  img {
    width: 120px;
    height: 100%;
    margin-right: 15px;
    border-radius: 50%;
  }

  h4 {
    margin: 0px;
    padding-bottom: 5px;
  }

  p {
    margin: 0px;
  }
}
