.about-story {
  display: flex;

}

.about-profile {
  display: flex;

  img {
    width: 120px;
    height: 100%;
    margin: 0px 15px 15px 15px;
    border-radius: 50%;
  }
}

.about-story-pic {
  height: 100%;
  width: 400px;
}
