.contact-us-form {
  display: inline-block;
  width: 45vw;
  padding: 15px 25px 20px;
  border-radius: 5px;
  background-image: asset_url(show-page-background);
  background-repeat: no-repeat;
  background-size: cover;

  label {
    margin: 8px 0px;
  }

  .contact-us-input {
    width: 100%;
    border-radius: 5px;
    border: solid 1px $light-gray;
  }

  .contact-us-btn {
    margin: 8px 0px 0px;
  }

  #contact_message {
    height: 15vh;
  }
}
