.home-page {
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  padding: 30px 30px;

  img {
    width: 250px;
  }

  .filter-wrapper {
    margin: 0 auto;
  }
}

.home-page-w-img {
  background-image: asset_url("home-page-background.jpg");
  height: 100vh !important;
}

.home-nav {
  display: flex;
  justify-content: space-between;
}

.log-in-btn {
  margin: 5px;
}

.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
  height: 20vh;
  text-align: center;
}

.home-work-div {
  padding-top: 80px;
  justify-content: center;
  align-items: center;
}

.home-btn-sign-up:hover {
  text-decoration: none;
  color: $dark-blue;
}

.home-special-font {
  color: $blue;

  &:hover {
    text-decoration: none;
  }
}

.arrow {
  text-align: center;
  position: absolute;
  bottom: 24px;
  left: 0;
  width: 100%;
}

.more-arrows {
  width: 75px;
  height: 65px;

  polygon {
    fill: #FFF;
    transition: all .2s ease-out;

    &.arrow-top {
      transform: translateY(18px);
      opacity: 0.5
    }

    &.arrow-middle {
      opacity: 0.75;
    }

    &.arrow-bottom {
      transform: translateY(-18px);
    }
  }

  &:hover {
    polygon {
      &.arrow-top {
        transform: translateY(0);
      }

      &.arrow-bottom {
        transform: translateY(0);
      }
    }
  }
}

.home-cards {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $blue;
}

.home-card {
  height: 230px;
  width: 360px;
  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: $gray;

  h3 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 10px;
    text-align: left;
    font-size: 16px;
  }
}

.home-num {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
  background-color: rgba(250, 69, 122, 0.3);
  color: $pink !important;
}
