.home-page {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;

  .filter-wrapper {
    width: 43%;
    margin: 0 auto;
  }
}

.home-page-w-img {
  background-image: url("landing-back");
  height: 100vh !important;
}

.home-work-div {
  padding-top: 80px;
  justify-content: center;
  align-items: center;
}

.home-nav {
  display: flex;
  justify-content: space-between;
}

.home-btn-sign-up:hover {
  text-decoration: none;
  color: $pink;
}

.home-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  text-align: center;
  margin-top: 205px;
}

.home-special-font {
  color: $blue;
}

.home-cards {
  margin: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $blue;
}

.home-card {
  height: 230px;
  width: 360px;
  padding: 20px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: black;

  h3 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 10px;
    text-align: left;
  }
}

.home-num {
  margin: 10px;
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
  background-color: rgba(250, 69, 122, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $pink !important;
}

.home-icon {
  color: white;
  font-size: 50px;
}


