.planners-planner-link {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: $blue;
  }
}

.planners-shows-link {
  &:hover {
    text-decoration: none;
    color: $dark-blue;
  }
}
