.cal-grid-title {
  margin: 0px;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  background-color: $blue;
  color: white;
}

.cal-grid-days {
  display: flex;

  p {
    background-color: white;
    margin: 0px;
    width: 50px;
    height: 25px;
    text-align: center;
    font-weight: bold;
  }
}

.cal-grid-dates {
  display: flex;
  border-radius: 0px 0px 5px 5px;

  button {
    width: 50px;
    height: 25px;
    box-shadow: 0px 0px 0px transparent;
    text-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    padding: 0px;
    text-align: center;

    &:focus {outline:0;}

    &:hover {
      color: $pink;
    }
  }
}

.day-calendar {
  height: 1470px;
  width: 350px;
  background-color: white;
  position: relative;
  border-top: solid 1px;
  border-bottom: solid 1px;
}


.planner-search-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#day {
  height: 35px;
  width: 175px;
  margin-right: 5px;
}

.planner-btn {
  height: 35px;
  width: 45px;
  padding: 0px;

  &:hover {
    opacity: 0.8;
  }
}

.planner-container {
  display: flex;
}

.planner-header {
  margin: 35px 0px 20px 0px;
}

.planner-date {
  width: 450px;
  background-color: $blue;
  color: white;
  text-align: center;
  padding: 5px;
  border-top: solid 1px black;
  border-right: solid 1px black;
  border-left: solid 1px black;
  border-radius: 5px 5px 0px 0px;

  h3 {
    margin: 0px;
  }
}

.planner-day {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.planner {
  display: flex;
}

.planner-times {
  height: 1470px;
  width: 50px;
  background-color: white;
  color: black;
  border: solid 1px black;

  p {
    height: 105px;
    text-align: center;
    margin: 0px;
  }
}

.planner-footer {
  height: 25px;
  width: 450px;
  background-color: $blue;
  border-right: solid 1px black;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  border-radius: 0px 0px 5px 5px;
}

.planner-shortlist {
  padding-left: 50px;
  flex-grow: 1;
}

.planner-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}

.planner-adder, .planner-remover {
  z-index: 11;
  position: absolute;
  top: 8px;
  color: $blue !important;

  &:hover {
    color: $pink !important;
  }
}

.planner-adder {
  right: 10px;
}

.planner-remover {
  right: 3px;
}

.plan {
  position: absolute;
  background-color: white;
  border-radius: 5px;

  p {
    margin: 0px;
    padding-left: 5px;
  }

  i {
    padding-right: 5px;
    color: black;
  }
}

.planner-card {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  color: black;
  line-height: 100%;

  img {
    width: 100px;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
  }

  h6 {
    margin: 0px;
    font-weight: bold;
  }

  p {
    margin: 0px;
    font-size: 12px;
    padding-left: 0px;
  }
}

.planner-clash, .clash {
  background-color: #ea9999;
}

.card-hover-in:hover, .card-hover-out:hover {
  background-position: center;
  background-repeat: no-repeat;
}

.card-hover-in:hover {
  background-image: url(hand-point-left-regular.svg);
}

.card-hover-out:hover {
  background-image: url(hand-point-right-regular.svg);
}

.planner-card-info {
  width: 90%;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.planner-map {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
