.header-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#day {
  height: 44px;
  width: 120px;
  background-color: $pink;
  color: white;
}

.container-planner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.planner {
  display: flex;
  margin: 20px 0px;
}

.planner-times {
  height: 1400px;
  width: 50px;
  background-color: white;
  color: black;
  border: solid 1px black;

  p {
    height: 100px;
    text-align: center;
    margin: 0px;
  }
}

.day-calendar {
  height: 1400px;
  background-color: white;
  width: 300px;
  position: relative;
}


.w250 {
  width: 300px;
  padding: 10px;
  p {
    margin: 4px;
  }
  transition: 0.5s;
  &:hover {
    a {
      text-decoration: none !important;
    }
    transform: scale(1.05);
  }
}

.plan {
  position: absolute;
  background-color: white;
  p {
    margin: 0px;
    padding-left: 5px;
  }
}
