.planners-planner-link {
  text-decoration: none;
  color: $gray;
  font-size: 20px;

  &:hover {
    text-decoration: none;
    color: $blue;
  }
}

.planners-shows-link {
  &:hover {
    text-decoration: none;
    color: $dark-blue;
  }
}
