.cal-grid-title {
  margin: 0px;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  background-color: $blue;
  color: white;
}

.cal-grid-days {
  display: flex;
  background-color: white;

  p {
    margin: 0px;
    width: 50px;
    height: 25px;
    text-align: center;
    font-weight: bold;
  }
}

.cal-grid-dates {
  display: flex;
  border-radius: 0px 0px 5px 5px;
  background-color: white;

  button {
    width: 50px;
    height: 25px;
    border: 0px solid transparent;
    padding: 0px;
    text-align: center;

    &.cal-date-active {
      background-color: $blue;
      color: white;

      &:hover {
        background-color: $pink;
        color: white;
      }
    }

    &:focus {
      outline:0;
    }

    &:hover {
      color: $pink;
    }
  }
}

.day-calendar {
  height: 1462px;
  width: 350px;
  margin-top: 8px;
  background-color: white;
  position: relative;
  // border-bottom: solid 1px;
}


.planner-search-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#day {
  height: 35px;
  width: 175px;
  margin-right: 5px;
}

.planner-btn {
  height: 35px;
  width: 45px;
  padding: 0px;

  &:hover {
    opacity: 0.8;
  }
}

.planner-container {
  display: flex;
}

.planner-header {
  margin: 35px 0px 20px 0px;
}

.my-shadow {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.planner-date {
  z-index: 1;
  width: 401px;
  background-color: $blue;
  color: white;
  text-align: center;
  padding: 5px;
  // border: solid 1px black;
  border-radius: 5px 5px 0px 0px;

  h3 {
    margin: 0px;
  }
}

.planner-day {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  // border-right: solid 1px;
}

.planner {
  display: flex;
}

.planner-times {
  height: 1470px;
  width: 50px;
  background-color: white;
  color: black;
  border-right: dashed 1px $blue;
  // border-left: solid 1px black;
  // border-bottom: solid 1px black;

  p {
    height: 105px;
    text-align: center;
    margin: 0px;
  }
}

.planner-footer {
  height: 25px;
  width: 401px;
  background-color: $blue;
  // border-right: solid 1px black;
  // border-left: solid 1px black;
  // border-bottom: solid 1px black;
  border-radius: 0px 0px 5px 5px;
}

.planner-shortlist {
  padding-left: 50px;
  flex-grow: 1;
}

.planner-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}

.planner-adder, .planner-remover {
  position: absolute;
  top: 8px;
  color: $blue !important;

  &:hover {
    color: $pink !important;
  }
}

.planner-adder {
  right: 10px;
}

.planner-remover {
  right: 3px;
}

.plan {
  position: absolute;
  background-color: white;
  border-radius: 5px;

  p {
    margin: 0px;
    padding-left: 5px;
  }

  i {
    padding-right: 5px;
    color: black;
  }
}

.planner-card-show-image {
  position: relative;
}

.planner-card {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  color: black;
  line-height: 100%;

  .card-arrow {
    left: 50% !important;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    width: 100px;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
  }

  h6 {
    margin: 0px;
    font-weight: bold;
  }

  p {
    margin: 0px;
    font-size: 12px;
    padding-left: 0px;
  }
}

.planner-clash, .clash {
  background-color: #ea9999;
}

#planner-add-cal {
  font-size: 20px;

  &:hover {
    color: $pink;
  }
}

.planner-arrow {
  display: flex;
}

.card-arrow {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  z-index: 99;
  width: 100px !important;
  height: auto !important;
  left: auto !important;
}

.planner-card:hover .card-arrow {
  opacity: 1;
}

.card:hover .card-arrow {
  opacity: 1;
}

.planner-card-info {
  width: 90%;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.planner-map {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
