.show-div {
  width: 1170px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: white;
  // background-image: url(fringe-festival-pure-bw.jpg);
  // background-size: cover;
}

.show-top {
  display: flex;
}

.show-genre-return {
  padding-top: 3px;
  font-size: 11px;
}

.show-image-star-bar, .show-calendar, .show-bottom-details {
  box-shadow: 1px 1px 2px gray;
}

.show-image-star-bar {
  border-radius: 5px;
}

.show-image {
  border-radius: 5px 5px 0px 0px;
}

.card-grid {
  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: 250px 2fr 250px;
  grid-gap: 25px;
  justify-content: space-between;
}

.show-calendar {
  grid-column: 1 / 2;
  border-radius: 5px;
}

.show-bottom-details {

  grid-column: 2 / 3;
  padding: 10px 20px;
  border-radius: 5px;
    i {
      width: 30px;
    };
    h4 {
      margin-bottom: 1rem;
    };
    p {
      margin-bottom: 0px;
    }
}

p .fringe-link {
  text-decoration: none;
  color: $blue;
}

p .fringe-link:hover {
  color: black;
}

.gmaps-link {
  text-decoration: none;
  color: black;
}

.gmaps-link:hover {
  text-decoration: none;
  color: $blue;
}

.show-map {
  grid-column: 3 / 4;
  box-shadow: 1px 1px 2px gray;
  border-radius: 5px;
}

.show-top-details {
  padding: 0px 20px;
}

.show-title-div {
  border-bottom: solid 1px;
}

.show-title {
  text-decoration: none;
  font-size: 3.1rem;
  color: black;
}

.show-title:hover {
  text-decoration: none;
  color: $blue;
}

.show-description {
  font-size: 15px;
}

.show-shortlist-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0px 15px;
  background-color: #4eacd9;
  border-radius: 0px 0px 5px 5px;
  color: white;
  font-size: 1.1rem;
    a {
      text-decoration: none;
      color: white;
    }
}

.table {
  margin: 0;
    td {
      padding: 4px 0px;
      vertical-align: center;
    }
}

.show-table {
  color: white;

  td {
    border: white solid 1px;
  }
}

.calendar-days-header th {
  padding: 5px 0px;
}

.calendar-heading {
  height: 48px;
  text-align: center;
  background-color: #878888;
  font-size: 20px;
  border-radius: 5px 5px 0px 0px;
}

.calendar-days-header {
  background-color: #b3bec3;

  th {
    border: white solid 1px;
    text-align: center;
  }
}

.calendar-body {
  text-align: center;
  background-color: #efefef;
}
