.show-div {
  padding: 10px 0px;
}

.show-top, .show-bottom, .show-genre-twitter {
  display: flex;
}

.show-top-details {
  padding: 0px 20px;
}

.show-title {
  border-bottom: 1px solid;
}

.show-shortlist-bar {
  height: 40px;
  padding: 0px 15px;
  background-color: #4eacd9;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.show-table {
  color: white;
}

.calendar-heading {
  text-align: center;
  background-color: #878888;
  font-size: 16px;
}

.calendar-days-header {
  background-color: #b3bec3;
}

.calendar-body {
  text-align: center;
  background-color: #efefef;
}

td[value="8"] {
    background-color: red;
}
