.show-div {
  padding: 10px 0px;
  width: 1170px;
  box-shadow: 3px 3px 5px grey;
}

.show-top, .show-genre-twitter {
  display: flex;
}

.show-image-star-bar, .show-calendar, .show-bottom-details {
  box-shadow: 3px 3px 5px grey;
}

.show-image-star-bar {
  border-radius: 5px;
}

.show-image {
  border-radius: 5px 5px 0px 0px;
}

.card-grid {
  display: grid;
  grid-template-rows: 250px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 25px;
  justify-content: space-between;
}

.simple-calendar {
  padding: 5px;
}

.show-calendar {
  grid-column: 1 / 2;
  border-radius: 5px;
}

.show-bottom-details {
  grid-column: 2 / 3;
  padding: 10px;
  border-radius: 5px;
    i {
      width: 30px;
    };
    h4 {
      margin-bottom: 1rem;
    }
}

.show-map {
  grid-column: 3 / 4;
  box-shadow: 3px 3px 5px grey;
  border-radius: 5px;
}

.show-top-details {
  padding: 0px 20px;
}

.show-title {
  border-bottom: 1px solid;
  font-size: 3.1rem;
}

.show-description {
  font-size: 18 px;
}

.show-shortlist-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0px 15px;
  background-color: #4eacd9;
  border-radius: 0px 0px 5px 5px;
  color: white;
  font-size: 1.1rem;
}

.table {
  margin: 0;
    td {
      padding: 4px 0px;
    }
}

.calendar-days-header th {
  padding: 5px 0px;
}

.show-table {
  color: white;
}

.show-table td {
  border: white solid 1px;
}

.calendar-heading {
  text-align: center;
  background-color: #878888;
  font-size: 16px;
  border-radius: 5px 5px 0px 0px;
}

.calendar-days-header {
  background-color: #b3bec3;
}

.calendar-days-header th {
  border: white solid 1px;
  text-align: center;
}

.calendar-body {
  text-align: center;
  background-color: #efefef;
}
