<div class="form-container body-container form-user min-height">
  <h3>Forgot your password?</h3>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
        <div class="form-inputs">
          <div class="form-group form-user-input email required user_email">
            <input class="form-control form-input-box string email required" autocomplete="email" autofocus="autofocus" required="required" aria-required="true" placeholder="&#xf0e0;  Email" type="email" value="" name="user[email]" id="user_email">
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class: "button" %>
        </div>
    <% end %>
    <%= render "devise/shared/links" %>
</div>

