<div class="color-chart">
  <p class="color-chart-label color-comedy">COMEDY</p>
  <p class="color-chart-label color-cabaret-variety">CABARET & VARIETY</p>
  <p class="color-chart-label color-circus-etc">CIRCUS, DANCE & PHYSICAL THEATRE</p>
  <p class="color-chart-label color-theatre-etc">THEATRE, MUSICALS & OPERA</p>
  <p class="color-chart-label color-events-etc">EVENTS & EXHIBITIONS</p>
  <p class="color-chart-label color-other">OTHER</p>
</div>
