<footer class="footer">
  <div class="footer-signature">
    <%= link_to "My Fringe Planner", shows_path %>
  </div>

  <div class="footer-social-icons">
    <span><a href="https://www.facebook.com/edfringe/" target="_blank"><i class="fab fa-facebook-square"></i></i></a></span>
    <span><a href="https://www.instagram.com/edfringe/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a></span>
    <span><a href="https://twitter.com/edfringe?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fab fa-twitter-square"></i></a></span>
  </div>

  <div>
    <%= link_to "Le Wagon", "http://lewagon.com", class: "footer-links" %>
    <%= link_to "About", about_path, class: "footer-links" %>
  </div>
</footer>
