<% if @planners[index + 1] != nil %>
  <!-- If there's another planner on the same day, get location of current planner's show venue -->
  <% venue = planner.performance.show.venue %>
  <!-- Get the location of the next venue on the same day-->
  <% next_venue = @planners[index + 1].performance.show.venue %>
  <!-- Get instructions for how to get from point A to point B as an array of Hashes-->
  <% response = RestClient.get "https://api.mapbox.com/directions/v5/mapbox/walking/#{venue.longitude},#{venue.latitude};#{next_venue.longitude},#{next_venue.latitude}?geometries=geojson&access_token=#{ENV['MAPBOX_API_KEY']}" %>
  <% journey_info = JSON.parse(response) %>
  <!-- Display time of journey if directed here from planner.html, but full map if from walking_route.html -->
  <div class="planner-card walk-notif" style="top: <%= planner.walk_top %>; height: <%= planner.walk_duration(journey_info) %>; width: 100%">
    <i class="fa fa-street-view " aria-hidden="true"> <%= (journey_info["routes"].first["duration"] / 60).ceil %> minute walk to <%= next_venue.name %></i>
  </div>
<% end %>
