<div class="body-container" >
  <h1 class= "home-title">Welcome To MyFringePlanner</h1>
  <div class="home-cards">
    <div class="home-card ">
      <img src="assets/home-card-browse.svg" height="170px" alt="">
      <h3>1. Find your favourite shows</h3>
    </div>

    <div class="home-card">
      <img src="assets/home-card-select.svg" height="170px" alt="">
      <h3>2. Add them to your shortlist</h3>
    </div>

    <div class="home-card">
      <img src="assets/home-card-calendar.svg" height="170px" alt="">
      <h3>3. Make MyFringePlanner</h3>
    </div>
  </div>

  <div class= "searchbar">
    <%= form_tag shows_path, method: :get, class: "form-inline form-search d-flex" do %>
    <%= text_field_tag :query,params[:query],
    class: 'form-control flex-fill',placeholder: 'Find your favourite shows!'%>
    <%= submit_tag 'Search', class: 'btn btn-home ml-2 px-3'%>
    <% end %>
  </div>

</div>
