<!-- TO DO: MAKE IMAGES WORK ON HEROKU -->
<div class="body-container" >
  <h1 class= "home-title">Welcome To MyFringePlanner</h1>
  <div class="home-cards">
    <div class="home-card ">
      <img src="assets/home-card-browse.svg" height="200px" alt="">
      <h3>1. Find your favourite shows</h3>
    </div>

    <div class="home-card">
      <img src="assets/home-card-select.svg" height="200px" alt="">
      <h3>2. Add them to your shortlist</h3>
    </div>

    <div class="home-card">
      <img src="assets/home-card-calendar.svg" height="200px" alt="">
      <h3>3. Make MyFringePlanner</h3>
    </div>
  </div>

  <div class="home-btn-begin"><%= link_to "Start searching...", shows_path, class: "button" %></div>

</div>
