<div class="body-container" >
  <h1 class= "home-title">Welcome To MyFringePlanner</h1>
  <div>
    <h2>How it works</h2>
  </div>

  <div class="home-cards">
    <div class="home-card">
      <img class="home_card-img-top" src="https://res.cloudinary.com/dilq1zbdq/image/upload/v1583248517/festival_dude_hu6yxi.jpg" alt="">
      <div class="home_card-body">
        <h3 class="home_card-title">1. Find your favorite shows</h3>
      </div>
    </div>

    <div class="home-card">
      <img class="home_card-img-top" src="https://res.cloudinary.com/dilq1zbdq/image/upload/v1583248517/festival_dude_hu6yxi.jpg" alt="">
      <div class="home_card-body">
        <h3 class="home_card-title">2. Add them to your shortlist</h3>
      </div>
    </div>

    <div class="home-card">
      <img class="home_card-img-top" src="https://res.cloudinary.com/dilq1zbdq/image/upload/v1583248517/festival_dude_hu6yxi.jpg" alt="">
      <div class="home_card-body">
        <h3 class="home_card-title">3. Make MyFringePlanner</h3>
      </div>
    </div>
  </div>

  <div class= "searchbar">
    <%= form_tag shows_path, method: :get, class: "form-inline form-search d-flex" do %>
    <%= text_field_tag :query,params[:query],
    class: 'form-control flex-fill',placeholder: 'Find your favourite shows!'%>
    <%= submit_tag 'Search', class: 'btn btn-home ml-2 px-3'%>
    <% end %>
  </div>

</div>
