<form action="">
  <label for="start-date"></label>
  <input id="start-date" class="input-field" type="text" placeholder="Start date">
  <label for="end-date"></label>
  <input id="end-date" class="input-field" type="text" placeholder="End date">
  <button class="button" type="submit">Go</button>
</form>
