<div class="body-container">
  <%= render 'shared/colorchart' %>

  <% if @follows == [] %>
    <p class="shortlist-empty-message">Check out the <%= link_to "listings", shows_path, class: "planners-shows-link" %> to find shows for your shortlist!</p>
  <% end %>

  <div class="cards">
    <% @follows = @follows.sort_by { |follow| follow.followable.title.capitalize } %>
    <% @follows.each do |follow| %>
      <% show = follow.followable %>
      <%= render 'shared/show', show: show %>
    <% end %>
  </div>
</div>

<!-- prevents page rendering at the top on reload -->
<script>
  if (localStorage['scroll']) {
    window.scroll({ top: localStorage['scroll'] })
  }
  window.addEventListener('scroll', () => {
    localStorage['scroll'] = window.scrollY;
  });
</script>
