.alert {
  position: relative;
  z-index: 11;
  background-color: rgba(249, 240, 1, 0.5);
  color: gray;
  text-align: center;
  border-color: transparent;
  font-weight:bold;
  margin: -4px;
  font-size: 20px;
}
