@media(max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 850px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom:10px ;
}

.hid-link {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 105px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  border-radius: 5px;
  border-style: none;

  &:hover {
    box-shadow: 0px 0px 10px rgba(78, 172, 217, 1);
  }

  img {
    width: 100px;
    height: 105px;
    border-radius: 5px 0px 0px 5px;
    object-fit: cover;
  }

  h6 {
    height: 40px;
    margin: 0px;
    font-weight: bold;
  }

  p {
    margin: 0px;
    font-size: 12px;
  }
}

.card-star-n-image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .fa-star {
    z-index: 11;
    position: absolute;
    top: 5px;
    left: 3px;
  }

  img {
    left: 0px;
  }
}

.card-info {
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.card-dates {
  margin-left: 10px;
}

.card-border {
  border-right: 8px solid;
  border-radius: 0px 5px 5px 0px;
}

.card-border-comedy {
  border-right-color: $comedy;
}

.card-border-cabaret-variety {
  border-right-color: $cabaret-variety;
}

.card-border-circus-etc {
  border-right-color: $circus-etc;
}

.card-border-theatre-etc {
  border-right-color: $theatre-etc;
}

.card-border-events-etc {
  border-right-color: $events-etc;
}

.card-border-other {
  border-right-color: $other;
}
