.card {
  display: flex;
  width: 350px;
  height: 100px;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  h6 {

  }

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
  }
}

.card-star-n-image {
  position: relative;
}
