.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  // width: 350px;
  height: 105px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 14px;

  img {
    // width: 1fr;
    // height: 1fr;
    width: 100px;
    height: 105px;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
  }

  h6 {
    // width: 230px;
    height: 40px;
    font-weight: bold;
    margin: 0px;
  }

  p {
    margin: 0px;
    font-size: 12px;
  }
}

.card-star-n-image {
  position: relative;

  .fa-star {
    position: absolute;
    top: 5px;
    left: 3px;
  }

  img {
    left: 0px;
  }
}

.card-info {
  width: 90%;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.card-dates {
  margin-left: 10px;
}
