.color-chart {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  p {
    margin: 0px;
  }
}

.color-chart-label {
  width: 169px;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 3px;

  color: white;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  align-items: center;
  text-align: center;
}

.color-all {
  background-color: #167FFB;
}

.color-comedy {
  background-color: #167FFB;
}

.color-cabaret-n-variety {
  background-color: #167FFB;
}

.color-circus-etc {
  background-color: #167FFB;
}

.color-theatre-etc {
  background-color: #167FFB;
}

.color-other {
  background-color: #167FFB;
}
