.color-chart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;

  p {
    margin: 0px;
  }
}

.color-chart-label {
  // width: 200px;
  height: 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  margin: 5px;
  padding-top: 10px;
  // padding-bottom: 4px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: white;
  // border-style:solid;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.color-comedy {
  background-color: $comedy;
  &:hover{
    background-color:#f97fc1;
  }
}

.color-cabaret-variety {
  background-color: $cabaret-variety;
  &:hover{
    background-color:#f3ae72;
  }
}

.color-circus-etc {
  background-color: $circus-etc;
  &:hover{
    background-color:#f7ea61;
  }
}

.color-theatre-etc {
  background-color: $theatre-etc;
  &:hover{
    background-color:#6ecc62;
  }
}

.color-events-etc {
  background-color: $events-etc;
  &:hover{
    background-color:#7abcdc;
  }
}

.color-other {
  background-color: $other;
  &:hover{
    background-color:#b291da;
  }
}

@media(max-width: 1200px) {
  .color-chart {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 850px) {
  .color-chart {
    grid-template-columns: 1fr 1fr;
  }
}
