.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 45px;
  padding: 10px 40px;
  // border-top: 1px solid #eaeaea;
  color: $medium-gray;
  font-size: 14px;

  a {
    color: $gray;
  }

  a:hover {
    color: $blue;
    text-decoration: none;
  }
}

.footer-signature {
  float: left;
  font-size: 14px;

  p {
    margin: 14px 0px;
  }
}


.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;

  a {
    padding: 0px 5px;
  }
}


.footer-links {
  display: flex;
  float: right;
  margin: 14px 0px;
  list-style: none;
}

.footer-links li a {
  margin-left: 10px;
}
