.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding: 10px 40px;
  font-size: 14px;
  background-color: #cee9f5;

  a:hover {
    color: $dark-blue;
    text-decoration: none;
  }
}

.footer-signature {
  float: left;
  font-size: 14px;

  a {
    color: white;
  }

  p {
    margin: 14px 0px;

    &:hover {
    color: $dark-blue;
    }
  }
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;

  a {
    padding: 0px 5px;
    color: white;
  }
}


.footer-links {
  display: flex;
  float: right;
  margin: 14px 0px;

  a {
    color: white;
  }

  &a:hover {
    color: $dark-blue;
  }
}
