.navbar-lewagon {
  justify-content: space-between;
  margin-bottom: 20px;
  background-size: cover;

  .navbar-collapse {
    flex-grow: 0;

  }

  .navbar-brand img {
    width: 40px;
    display: inline-block;
  }
}



.logo {
  width: 250px;
}


.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    height: 47px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &:hover {
      text-decoration: none !important;
      color: black !important;
      border-bottom: 2px solid $yellow;

    }
  }
}

.inline div {
  display: inline-block;
}

.div-inline input {
  width: 400px;
}

.search-show-input {
  width: 115%;
  margin-right: 20px;
  border-radius: 5px;
}

.genre-style {
  width: 60%;
  margin-left: 80px;
}


.form-group {
  width: 50%;
}

.big-nav-link {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.filter {
  display: flex;
}

.submit {
  height: 38px;
  color: white;
  border-radius: 5px;
  background-color: $blue;
}

#form-styling {
  display: flex !important;
    height: 38px !important;
}
