.navbar-lewagon {
  justify-content: space-between;
  background-color: $light-blue;
  background-size: cover;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

  .navbar-collapse {
    flex-grow: 0;

  }

  .navbar-brand img {
    width: 40px;
    display: inline-block;
  }
}

.logo {
  width: 250px;
}


.top {
  margin: 5px;
  display: flex;
  justify-content: flex-end;

  a {
    height: 50px;
    margin-right: 16px;
    // box-sizing: border-box;
    // -moz-box-sizing: border-box;
    // -webkit-box-sizing: border-box;

    &:hover {
      border-bottom: 4px solid $yellow;
      text-decoration: none !important;
      color: black !important;

    }

    &:active {
      // TO DO: Make links active when you're on their page
      border-bottom: 4px solid $yellow;
    }
  }
}



.inline div {
  display: inline-block;
}

.div-inline input {
  width: 400px;
}

.search-show-input {
  // width: 115%;
  // margin-right: 20px;
  border-radius: 5px;
  font-family: "Roboto Condensed" !important;
  border: 0;
}

.search-start-date {
  border-radius: 5px;
  // margin-right: 10px;
  font-family: "Roboto Condensed" !important;
  border: 0;
}

.genre-style {
  width: 60%;
  margin-left: 50px;
  font-family: "Roboto Condensed" !important;
  border: 0;
}


.form-group {
  width: 50%;
}

.big-nav-link {
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
}

.filter {
  display: flex;
}

.submit {
  background-color: $blue;
  height: 38px;
  padding: 3px 15px 3px 15px !important;
  border-radius: 5px;
  color: white;
  font-family: "Roboto Condensed" !important;
  margin-left: 50px;
  border: 0;
}

.dropdown-menu {
  background-color: $off-white;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.dropdown-item:hover{
  background-color: $light-blue;
  border-bottom: none !important;
}

#form-styling {
  display: flex !important;
  height: 38px !important;
}
