.navbar-lewagon {
  justify-content: space-between;
  background: coral;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  display: inline-block;
}

.img {
  width: 300px;

}

.inline div {
  display: inline-block;
}

.div-inline input {
  width: 400px;
}

.search-show-input {
  width: 70%;
  margin-top: 100px;
}


.form-group {
  width: 50%;
  margin-top: 100px;
}

.genre-style {
  width: 20%;
  margin-top: 100px;
}

#form-styling {
  display: flex !important;
    height: 38px !important;
}

.filter {
  display: flex;
}

.submit {
  height: 38px;
  margin-top: 100px;
}
