.walk-notif {
  z-index: 2;
  background-color: $light-blue;
  padding: 3px;
  color: black;

  img {
    width: 11px !important;
    height: 12px !important;
    margin-right: 3px;
  }
}

.walk-red {
  background-color: $pink;
}
