.walk-transition {
  position: absolute;
  width: 100%;
  pointer-events: none;
}

.walk-notif {
  z-index: 2;
  background-color: $light-blue;
  padding: 3px;
  color: $gray;

  i {
    color: $gray !important;
  }
}

.walk-red {
  background-color: $light-red;
}
