// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "pages/home";
@import "components/star";
@import "pages/planner_index";
@import "pages/shortlist";
@import "pages/about";

.body-container {
  margin-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

body {
  // background-color: $off-white;
  // padding-top: 136px;
  align-items: center;
  $size: 10px;
  $holeSize: 40%;
  $reflective: hsla(0, 0%, 100%, .1);
  background:
    radial-gradient(rgb(232, 244, 249) $holeSize, transparent 0) 0 0,
    radial-gradient(rgb(232, 244, 249) $holeSize, transparent 0) ($size / 2) ($size / 2),
    radial-gradient($reflective $holeSize, transparent 20%) 0 1px,
    radial-gradient($reflective $holeSize, transparent 20%) ($size / 2) ($size / 2 + 1px);
  background-color: $off-white;
  background-size: $size $size;
  background-clip: content-box;
}

.min-height {
  min-height: calc(100vh - 300px)
}
