<div class="simple-calendar">
  <table class="show-table">
    <thead>
      <tr>
        <td class="calendar-heading" colspan="7">AUGUST <%= Time.now.year %></td>
      </tr>
      <tr class="calendar-days-header">
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
        <th>S</th>
      </tr>
    </thead>
    <tbody class="calendar-body">
      <% days = @show.show_dates %>
      <% combo = @show.show_dates_times %>
      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day), class: "#{@show.performance?(days, day)}" do %>
              <% block.call day, sorted_events.fetch(day, []) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
