<%= link_to "https://www.google.com/maps/search/#{@show.venue.postcode}", target: :blank, class: "gmaps-link" do %>
  <p><%= @show.venue.space %>,</p>
  <p><%= @show.venue.name %>,</p>
  <p><%= @show.venue.postcode %></p>
<% end %>
