<p><%= @show.venue.space %>,</p>
<p><%= @show.venue.name %>,</p>

<%= link_to "https://www.google.com/maps/search/#{@show.venue.postcode}", target: :blank do %>
  <p><%= @show.venue.postcode %></p>
<% end %>
