<div class="body-container">
  <%= render 'shared/colorchart' %>

  <div class="cards">
    <% @shows = @shows.sort_by { |show| show.title.capitalize } %>
    <% @shows.each do |show| %>
      <%= render 'shared/show', show: show %>
    <% end %>
  </div>
</div>

<script>
if (localStorage['scroll']) {
  window.scroll({ top: localStorage['scroll'] })
}
window.addEventListener('scroll', () => {
  localStorage['scroll'] = window.scrollY;
});
</script>

