<div class="container">
  <div class="color-chart">
    <p class="color-chart-label color-all">ALL</p>
    <p class="color-chart-label color-comedy">COMEDY</p>
    <p class="color-chart-label color-cabaret-n-variety">CABARET & VARIETY</p>
    <p class="color-chart-label color-circus-etc">CIRCUS, DANCE & PHYSICAL THEATRE</p>
    <p class="color-chart-label color-theatre-etc">THEATRE, MUSICALS & OPERA</p>
    <p class="color-chart-label color-other">OTHER</p>
  </div>

  <div class="cards">
    <% @shows.each do |show| %>
      <%= render 'shared/show', show: show %>
    <% end %>
  </div>
</div>
