<div class="show-top">
  <div>
    <%= image_tag "#{@show.original_image}", alt: "#{@show.title}" %>
    <div class="show-shortlist-bar">
      <span>SHORTLIST</span><i class="fas fa-star"></i>
    </div>
  </div>

  <div>
    <h1><%= @show.title %></h1>
    <div>
      <span>@show.genre</span>
      <i class="fab fa-twitter"></i>
    </div>
    <p>@show.description</p>
  </div>
</div>

<div class="show-bottom">
  <div>
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
  </div>

  <div>
    <p>Details</p>
    <i class="far fa-clock"></i>
  </div>

  <div>MAP</div>
</div>
