<div class="show-top">
  <div>
    <img src="" alt="">
    <div>
      <!-- SHORTLIST STAR -->
    </div>
  </div>

  <div>
    <h1>TITLE</h1>
    <div>
      <p>GENRE</p>
      <i class="fab fa-twitter"></i>
    </div>
    <p>DESCRIPTION</p>
  </div>

</div>

<div class="show-bottom">
  <div>CALENDAR</div>
  <div>DETAILS</div>
  <div>MAP</div>
</div>
